.DS_Store
administration/build
ansible_networking/build
common/build
installandreference/build
quickinstall/build
quickstart/build
towerapi/build
controllerapi/build
userguide/build
release-notes/build/
upgrade-migration-guide/build/
docs/build/
*.pyc
*.swp
*.mo
/docsite
automation-controller-*
# Pycharm stuff
.idea
