tmp
*#
*~
.sw*
.*.sw*
master.html
master.xml
master.md
.DS_Store
*/.DS_Store
# Pycharm stuff
.idea
# VSCode stuff
.vscode
.vscode/
# virtual environments
venv

#manually ignoring build dirs,
#feel free to make this better with a regex
build/
html/
.zanata-cache/
*.zip
emender/results/*
titles/*/master.html
titles/*/master.xml
titles/*/master.md
*.docx
*.swp
