#ignores output from ./scripts/buildGuides.sh

#manually ignoring build dirs,
#feel free to make this better with a regex

tmp
*#
*~
.sw*
.*.sw*
master.html
# Pycharm stuff
.idea
# VSCode stuff
.vscode
.vscode/
# virtual environments
venv
#ignores output from ./scripts/buildGuides.sh
build/
html/
.zanata-cache/
.DS_Store
*/.DS_Store
*.zip
emender/results/*
*/*/master.html
*/*/*/master.html
*.docx
*.swp
*.ini
.vale.ini
