tmp
build/
html/
*#
*~
.sw*
.*.sw*
master.html
clouds/titles/*/master.html
.DS_Store
*/.DS_Store
*.html
# Pycharm stuff
.idea
# VSCode stuff
.vscode
.vscode/
# virtual environments
venv
*.swp
*.docx
*.ini
*.bak
.vale
.vale/
.vale.ini
node_modules/
package-lock.json
package.json
